<HTML>
<head>
</head>
<body>
<form method="POST" action="ajoutlivraison.php">
<table>
<caption>Ajouter livraison</caption>
<tr>
<td>cin</td>
<td><input type="number" name="cin"></td>
</tr>
<tr>
<td>nom</td>
<td><input type="text" name="nom"></td>
</tr>
<tr>
<td>prenom</td>
<td><input type="text" name="prenom"></td>
</tr>
<tr>
<td>nb heures</td>
<td><input type="number" name="ville"></td>
</tr>
<tr>
<td>Mail</td>
<td><input type="text" name="mail"></td>
</tr>
<tr>
        <tr>
                <td>code postal</td>
                <td><input type="text" name="postal"></td>
                </tr>
                <tr>
<td></td>
<td>
    <input type="submit" name="ajouter" value="ajouter">
</td>
</tr>
</table>
</form>
</body>
</HTMl>